*.iml
.gradle
/local.properties
/.idea/*
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/google-services.json
AGENT.md
AGENTS.md
/docs/todo/
.DS_Store
**/build/
/captures
**/.externalNativeBuild/
**/.cxx/
**/.gradle/
local.properties
